<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>CyberSkills - Course Form | Public College</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Public College</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/students">Browse Students </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager">Manage Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courses}">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students/new}">Add Students<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>



<!--<div th:replace="fragments/header :: header"></div>-->

<div class="container-fluid">
    <h2 class="text-center">[[${pageTitle}]]</h2>

    <div class="my-3">
        <form th:action="@{/students/save}" method="post" enctype="multipart/form-data" th:object="${student}"
              style="max-width: 550px; margin: 0 auto">

            <input type="hidden" th:field="*{id}" />

            <div class="p-3">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="studentName">Name</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{studentName}" required minlength="2" maxlength="128" class="form-control"
                               id="studentName" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="address">Address</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{address}" minlength="2" maxlength="256" class="form-control"
                               id="address" />
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="phoneNumber">Phone Number</label>
                    <div class="col-sm-9">
                        <input type="tel" th:field="*{phoneNumber}" minlength="2" maxlength="256" class="form-control"
                               id="phoneNumber" />
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="email">E-mail</label>
                    <div class="col-sm-9">
                        <input type="email" step="1" th:field="*{studentEmail}" required min="1"
                               class="form-control" id="email" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 form-check-label" for="joinCourses">Join Courses</label>
                    <div class="col-sm-9">
                        <input type="checkbox" th:field="*{joinCourses}" />
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
                    <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm" />
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancel").on("click", function () {
            window.location = "[[@{/courses}]]";
        });
    });
</script>

</body>

</html>